.two-columns{
    display: grid;
    margin-top: 12px;
    margin-bottom: 12px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px
}

.tt-input::-webkit-calendar-picker-indicator{
    background: var(--primary-color);
    cursor: pointer;
}

.tt-input.ng-invalid.ng-touched {
    border: 2px solid tomato;
}

// состоянии ожидания
.tt-input.ng-pending {
    border: 2px dashed tomato;
}